<html>
        <head>
                <title>Database Async</title>
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        </head>
        
        <body class=" dashboard">
            <header id="main-header" class="bg-dark text-white p-4 mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                                <h1>Database Async</h1>
                        </div>
                    </div>
                </div>
            </header>
                <div class="container mt-5">
                    <div class="d-flex flex-row">
                        <div class="p-1">
                            <form class="form-inline" method="get" action="/search/">
                                <div class="form-group">
                                    <input class="form-control input-lg mx-sm-3 mb-2" placeholder="Search..." type="text" name="q" style="width: calc(250px + 3vw);"/>
                                </div>
                                <input class="btn btn-primary mb-2" type="submit" value="Search"/>
                            </form>
                        </div>
                        <div class="p-1">
                            <form method="get" action="/">
                                <input class="btn btn-success" type="submit" value="Show All">
                            </form>
                        </div>
                    </div>
                
                <!-- Content -->
                        <div id="content">
                        <br/>
                        <table class="table table-striped table-hover" style="overflow: auto; table-layout: inherit;">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="isi-table"><a class="text-info" href="/sort/?order_by=nim_tpb">NIM TPB</a></th>
                                    <th scope="col" class="isi-table"><a class="text-info" href="/sort/?order_by=nim_jurusan">NIM Jurusan</a></th>
                                    <th scope="col" class="isi-table"><a class="text-info" href="/sort/?order_by=nama">Nama</a></th>
                                    <th scope="col" class="isi-table"><a class="text-info" href="/sort/?order_by=panggilan">Panggilan</a></th>
                                    <th scope="col" class="isi-table"><a class="text-info" href="/sort/?order_by=jenis_kelamin">Kelompok</a></th>
                                    <th scope="col" class="isi-table"><a class="text-info" href="/sort/?order_by=jenis_kelamin">Jurusan</a></th>
                                    <th scope="col" class="isi-table"><a class="text-info" href="/sort/?order_by=jenis_kelamin">Foto</a></th>
                                </tr>
                            </thead>
                                
                                {% for person in people %}
                                <tr>
                                        <td class="isi-table">{{person.nim_tpb}}</td>
                                        <td class="isi-table">{{person.nim_jurusan}}</td>
                                        <td class="isi-table">{{person.nama}} 
                                            
                                        {% if person.jenis_kelamin == 'PEREMPUAN' %}
                                            <span class="badge badge-danger" style="text-align: center;">Perempuan</span>
                                        {% else %}
                                            <span class="badge badge-primary" style="text-align: center;">Laki-Laki</span>
                                        {% endif %}
                                        </td>
                                        <td class="isi-table">{{person.panggilan}}</td>
                                        <td class="isi-table">{{person.kelompok}}</td>
                                        {% if person.jurusan == 'IF' %}
                                            <td class="text-success isi-table">Informatika</td>
                                        {% else %}
                                            <td class="text-primary isi-table">Sistem Teknologi dan Informasi</td>
                                        {% endif %}
                                        <td class="isi-table"><img src="../media/{{person.image}}"></td>
                                </tr>
                                {% endfor %}
                                
                        </table>
                       
                        
                        </div>
                </div>

                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        </body>
</html>

<style>
.isi-table {
    text-align: center;
}
</style>