<html>
        <head>
                <title>Database Async</title>
                <link rel="icon" type="image/png" href="../media/logo.png">
                <link href="https://fonts.googleapis.com/css2?family=Antic+Slab" rel="stylesheet">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
                <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet">
        </head>
        
        <body>
            <header class="bg-dark text-white p-3 mb-3">
                <div class="container">
                    <div class="d-flex flex-row">
                        <div class="p-1">
                            <img class="logo px-2" src="../media/logo.png">
                        </div>
                        <div class="p-2">
                            <span class="h2 antic-slab" style="display: inline-block;">
                                <div class="d-flex flex-column">
                                    <div class="p-1">
                                        <a href="/" class="text-white">Database Async</a>
                                    </div>
                                    <div class="p-1">
                                        <span class="h6 text-white-50">Asynchronous '19 - IF/STI ITB 2019</span>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                    <nav class="navbar navbar-expand-lg">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link text-white mx-1 px-3 btn btn-outline-light" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white mx-1 px-3 btn btn-outline-light {% if isRandom == True %}disabled{%endif%}" href="/random">Randomize</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white mx-1 px-3 btn btn-outline-light {% if isRandom == False %}disabled {% endif %}" href="/detail/?kelompok=1&person=1">Detail</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
                <div class="container mt-5 border py-2 px-3 rounded">
                
                <!-- Content -->
                        <div class="row p-3 pb-5">
                            <div class="col-sm-3">
                                <img class="foto centered" src="{{mr}}{{person.image}}">
                            </div>
                            <div class="col-sm-9 antic-slab ">
                                <p class="h4 centered">{{person.nama}} (<span class="bolder">{{person.panggilan}}</span>)</p>
                                <p class="h6">NIM <span class="bolder">{{person.nim_tpb}}</span> / <span class="bolder">{{person.nim_jurusan}}</span></p>
                                <p class="h6">Kelompok <span class="bolder kel-{{person.kelompok}}">{{person.kelompok}}</span></p>
                                <p class="h6">Jurusan 
                                    {% if person.jurusan == 'IF' %}
                                    <span class="bolder {{person.jurusan}}">Teknik Informatika</span>
                                    {% else %}
                                    <span class="bolder {{person.jurusan}}">Sistem Teknologi Informasi</span>
                                    {% endif %}
                                </p>
                                <p class="h6">Jenis Kelamin 
                                    {% if person.jenis_kelamin == 'PEREMPUAN' %}
                                    <span class="bolder text-danger">Perempuan</span>
                                    {% else %}
                                    <span class="bolder text-primary">Laki-laki</span>
                                    {% endif %}
                                </p>
                                {% if person.warna_baju %}
                                    {% if person.warna_baju != "-" and isRandom == False %}
                                        <p class="h6">Warna Baju 
                                            <span class="bolder">{{person.warna_baju}}</span>
                                        </p>
                                    {% endif %}
                                {% endif %}
                                <br/>
                                <hr>
                                <div class="row">
                                    {% if isRandom == False %}
                                    <div class="col-sm-4 mx-2">
                                    </div>
                                    <div class="col-sm-2">
                                        <a class="btn {% if urlprev == '#' %}btn-outline-secondary disabled{% else %}btn-outline-danger{% endif %} px-4" href="{{ urlprev }}">Prev</a>
                                    </div>
                                    <div class="col-sm-2">
                                        <a class="btn {% if urlnext == '#' %}btn-outline-secondary disabled{% else %}btn-outline-primary{% endif %} px-4" href="{{ urlnext }}">Next</a>
                                    </div>
                                    {% else %}
                                    <div class="col-sm-4 mx-3">
                                    </div>
                                    <div class="col-sm-2 my-3">
                                        <a class="btn {% if urlprev == '#' %}btn-outline-secondary disabled{% else %}btn-outline-warning{% endif %} px-4" href="/random">Randomize</a>
                                    </div>
                                    {% endif %}
                                </div>
                                {% if isRandom == False %}
                                    <br/>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <p class="h6 text-black-50 bolder centered ml-5 pl-1 py-1 my-1">Kelompok:</p></div>
                                        <div class="col-sm-9">
                                        {% for i in maxkel %}
                                            <a class="btn btn-outline-warning px-2 mx-1" href="/detail/?kelompok={{i}}&person=1">{% if i < 10 %}0{{i}}{% else %}{{i}}{% endif %}</a>
                                        {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                </div>

                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
                <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
                <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
                <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
        </body>
        <footer>
            <br/>
            <hr class="mt-5">
            <br/>
            <p class="h6 centered antic-slab">2020 Database Async, Tim Materi.</p>
            <br/>
        </footer>
</html>

<style>
.centered {
    text-align: center;
}

.detail {
    text-align: left;
}

.bolder {
    font-weight: bold;
}

.foto {
    border-radius: 8px;
    height: auto;
    width: auto;
    max-height: 256px;
    max-width: 256px;
}
.logo {
    height: auto;
    width: auto;
    max-height: 112px;
    max-width: 112px;
}

.kel-1{
    color: #CC0000;
}

.kel-2{
    color: #007E33;
}

.kel-3{
    color: #FF8800;
}

.kel-4{
    color: #0099CC;
}

.kel-5{
    color: #00695c;
}

.kel-6{
    color: #0d47a1;
}

.kel-7{
    color: #9933CC;
}

.kel-8{
    color: #8bc34a;
}

.kel-9{
    color: #c0ca33;
}

.kel-10{
    color: #ff9800;
}

.kel-11{
    color: #6d4c41;
}

.kel-12{
    color: #bdbdbd;
}

.STI{
    color: #00C851;
}

.IF{
    color: #4285F4;
}

.antic-slab {
    font-family: 'Antic Slab';
}
</style>